body{
    background-color: #8C035C ;
  }
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  
  
  .search-container input[type="text"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  
  .search-container button[type="submit"] {
    background-color: #fafdfb;
    color: rgb(8, 7, 7);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .logo-image{
    margin-top: -100px;
    width: 150px;
  }
  .menu {
    background-color: #fff;
    padding: 10px;
  }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .menu li {
    margin: 0 10px;
  }
  .menu a {
    text-decoration: none;
    color: #158f5c;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
  }
  .menu a:hover {
    text-decoration: underline;
  }
  .texto p {
    color: #158f5c;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
   
  }
  .imagem-esquerda {
    float: left;
    margin-right: 10px;
  }
  
  
  .imagem-direita {
    float: right;
    margin-right: 6%;
    margin-left: 10px;
  }
  #botao-entrar {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin: 12px;
    margin-top: 60px;
    margin-right: 30px;
  }
  
  
  #botao-entrar:hover {
    background-color: #3e8e41;
  }
  
  /* tela de cadastro*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


.card{
  background-color: #8C035C;  
}
.ContainerCadastro{
    float: right;
    border-radius: 20px;
    width: 430px;
    height: auto;
    padding:25px;
    margin-right: 60px;
    background-color:#ffffff;
    justify-content: center;
    align-items: center;
  }
  
  .Botoes{
    list-style: none;
    padding: 0px;
    padding-left: 15px;
  }

  .Button {
    width: 400px;
    margin: 3px;
    padding: 4%;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid transparent;
    text-align: left;
    transition-duration: 0.4s;
    right: 85px;
  }

  Button:hover{
    transform: scale(1.1);
  }

  .Button .Logo{
    float: left;
    margin-right: 60px;
    width: 25px;
    vertical-align: middle;
    /*margin-right: 50px;
    /*text-align: center;
    line-height: 1; */
  }

  .Button1{
    width: 400px;
    margin: 3px;
    padding: 4%;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid transparent;
    text-align: center;
    margin-right: 100px;
    transition-duration: 0.4s;
  }

  .Button1:hover{
    transform: scale(1.1);
  }
  
  .Registrar{
    width: 400px;
    margin: 3px;
    padding: 4%;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid transparent;
    text-align: center;
    transition-duration: 0.4s;
  }

  .Registrar:hover{
    transform: scale(1.1);
  }

  .Registrar .Logo{
    float: left;
    margin-right: 60px;
    width: 25px;
    vertical-align: middle;
  }

.Descricao {
    color: #999;
}

.Termo{
    color: #999;  
}

.Fundo{
    width: 450px;
    position: relative;
    left: 270px;
    top: 30px;
}
/*tela de pagamento*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background-color:#8C035C;
  outline: none; border:none;
}
.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif
}

.container form .row .col .inputBox{
  margin:15px 0;
  
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
  font-family: 'Poppins', sans-serif
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  box-sizing: border-box; 
  
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
  
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
  cursor: pointer;
  
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background:#8C035C;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: black;
}

