body{
    background-color: #8C035C ;
  }
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  
  
  .search-container input[type="text"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  
  .search-container button[type="submit"] {
    background-color: #fafdfb;
    color: rgb(8, 7, 7);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .logo-image{
    margin-top: -100px;
    width: 150px;
  }
  .menu {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .menu li {
    margin: 0 10px;
  }
  .menu a {
    text-decoration: none;
    color: #158f5c;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
  }
  .menu a:hover {
    text-decoration: underline;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .texto p {
    color: #158f5c;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
   
  }
  .imagem-esquerda {
    float: left;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  
  
  .imagem-direita {
    float: right;
    margin-right: 6%;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #botao-entrar {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin: 12px;
    margin-top: 60px;
    margin-right: 30px;
  }
  
  
  #botao-entrar:hover {
    background-color: #3e8e41;
  }
  
  /* tela de cadastro*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


.card{
  background-color: #8C035C;  
}
.ContainerCadastro{
    float: right;
    border-radius: 20px;
    width: 430px;
    height: auto;
    padding:25px;
    margin-right: 60px;
    background-color:#ffffff;
    justify-content: center;
    align-items: center;
  }
  
  .Botoes{
    list-style: none;
    padding: 0px;
    padding-left: 15px;
  }

  .Button {
    width: 400px;
    margin: 3px;
    padding: 4%;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid transparent;
    text-align: left;
    transition-duration: 0.4s;
    right: 85px;
  }

  Button:hover{
    transform: scale(1.1);
  }

  .Button .Logo{
    float: left;
    margin-right: 60px;
    width: 25px;
    vertical-align: middle;
    /*margin-right: 50px;
    /*text-align: center;
    line-height: 1; */
  }

  .Button1{
    width: 400px;
    margin: 3px;
    padding: 4%;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid transparent;
    text-align: center;
    margin-right: 100px;
    transition-duration: 0.4s;
  }

  .Button1:hover{
    transform: scale(1.1);
  }
  
  .Registrar{
    width: 400px;
    margin: 3px;
    padding: 4%;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid transparent;
    text-align: center;
    transition-duration: 0.4s;
  }

  .Registrar:hover{
    transform: scale(1.1);
  }

  .Registrar .Logo{
    float: left;
    margin-right: 60px;
    width: 25px;
    vertical-align: middle;
  }

.Descricao {
    color: #999;
}

.Termo{
    color: #999;  
}

.Fundo{
    width: 450px;
    position: relative;
    left: 270px;
    top: 30px;
}
/*tela de pagamento*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background-color:#8C035C;
  outline: none; border:none;
}
.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif
}

.container form .row .col .inputBox{
  margin:15px 0;
  
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
  font-family: 'Poppins', sans-serif
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  box-sizing: border-box; 
  
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
  
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
  cursor: pointer;
  
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background:#8C035C;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background-color: #999;
}

.imagem-esquerda .ButtonBuy{
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #4CAF50;
  width: 110px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  position: relative;
  left: 350px;
}

.imagem-esquerda .ButtonBuy:hover{
  transform: scale(1.1);
}

.imagem-esquerda .CarBuy{
 display: flex;
 width: 100px;
 height: 100px;
 position: absolute;
 top: 705px;
}

.imagem-esquerda .CarBuy:hover{
  transform: scale(1.1);
}

.imagem-direita .DescriImg2{
 padding-left: 10px;
}

#botao-entrar {
  position: absolute;
}
 #botao-entrar:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

.container .caixa{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.container .caixa .submit-btn{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.ImgAstromelia{
  border: 2px solid #000000;
  border-radius: 50px;
  position: relative;
  top: 80px;
  width: 500px;
  height: 500px;
  right: 250px;
}
.ImgScroll{
  position: relative;
  top: 180px;
}
.ImgScroll .TextAstromelia{
  font-family:Arial, Helvetica, sans-serif;
  color: #4CAF50;
  position: relative;
  text-align: right;
  bottom: 215px;
  right: 180px;
}

.ImgAstromelia{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.TextAstromelia .paragrafoAstro{
  position: relative;
  text-align: center;
  left: 555px;
  bottom: 120px;
}

.TextAstromelia .TituloAstro{
  display: inline-block;
  position: relative;
  right: 10px;
  bottom: 150px;
  width: auto;
}

.TextAstromelia .TituloFlor{
  position: relative;
  right: 100px;
  bottom: 150px;
}

.Indic .IndicText{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
  color: #4CAF50;
  bottom: 600px;
  text-align: center;
}
/* .like{
  position: relative;
  width: 50px;
  height: 50px;
  bottom: 780px;
  left: 1260px;
} */

.like-btn{
  display: inline-block;
  position: relative;
  bottom: 780px;
  left: 1260px;
  transform: translate();
  width: auto;
}

.conteudo{

  border: 2px solid #eae2e1;
  padding: 13px 16px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}

.conteudo.heart-active{
  border-color: #f9b9c4;
  background: #fbd0d8;
}

.conteudo .coracao{
  height: 90px;
  width: 90px;
  background: url(./coracao.png);
  background-position: left;
  background-size: 2900%;
  position: absolute;
  top: 50%;
  left: 21%;
  transform: translate(-50%, -50%);
}

.coracao.heart-active{
  background-position: right;
  animation: animatee .8s steps(28) 1;
}

@keyframes animatee{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

.like{
  margin-left: 30px;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  color: gray;
}

.like.heart-active{
  color: #000;
}
.numero:before{
  position: relative;
  top: 3px;
  content: '12';
  font-size: 17px;
  font-weight: 600;
  font-family: sans-serif;
  color: #9c9496;
  margin-left: 8px;
}

.numero.heart-active:before{
  content: '13';
  color: #000;
}


[data-anime]{
  opacity: 0;
  transition: 5s;
}

[data-anime="left"]{
  transform: translate3d(-50px, 0, 0);
}

[data-anime].animete{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}